<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/" style="display: flex;   align-items: center;  justify-content: center; margin: 0; padding: 0">
      <img src="assets/images/logoheader.png" style="width: 30px; margin-right: 15px"> <b style="color:#76A740; font-size: 1.5em;">Util</b><b style="color:#34825C; font-size: 1.5em">'Eco</b>
    </a>
  </div>
  <ul class="navbar-nav ml-md-auto">
    <li class="nav-item">
      <a class="nav-item nav-link" (click)="logout()">Déconnexion</a>
    </li>
  </ul>
</nav>

<!-- main app container -->
<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- credits -->
<div class="text-center mt-4">

</div>
