<div class="row mt-2 animate__animated animate__backInDown">
  <div class="col-md-6 my-4">
    <div class="card h-100 gradient-box">
      <h4 class="card-header">
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <span *ngIf="fournisseur">{{ fournisseur.libelle}}</span>
      </h4>
      <div class="card-body">
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <table *ngIf="users" class="table">
          <tr>
            <th>Contact: </th>
            <td>{{users.civil + ' '+ users.nom +' '+ users.prenom}}</td>
          </tr>
          <tr>
            <th>Adresse: </th>
            <td>{{fournisseur.adresse}}, {{fournisseur.codePostal}} {{fournisseur.ville}}</td>
          </tr>
          <tr>
            <th>Telephone Fixe: </th>
            <td>{{fournisseur.telFixe|telephone}}</td>
          </tr>
          <tr>
            <th>Téléphone Portable: </th>
            <td>{{fournisseur.telPortable|telephone}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-6 my-4">
    <div class="card h-100 gradient-box">
      <h4 class="card-header m-0 p-0">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item">
            Accueil
          </li>
        </ol>
      </h4>
      <div class="card-body text-center">
        <p class="mt-2"> Pour des enlèvements veuillez appeler au 07 82 21 89 18</p>
        <p>
          Lundi - Vendredi
          9h00 - 21h00
        </p>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="card mt-2 gradient-box">
      <h4 class="card-header">
        Liste des enlèvements
        <button (click)="ExportTOExcel()" class="btn btn-success btn-sm float-right">Export</button>
      </h4>
      <div class="card-body rounded-0">
        <table class="table table-hover" #TABLE #table>
          <thead>
          <tr>
            <th>#</th>
            <th>N° Enlèvement:</th>
            <th>Créer le:</th>
            <th>Etat:</th>
            <th>Fermé le:</th>
            <th>Action:</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let lot of lots; let indexOfelement=index;">
            <td>{{indexOfelement+1}}</td>
            <td>{{ lot.id}}</td>
            <td>{{ lot.createdAt | date:"dd-MM-yy à HH:mm" }}</td>
            <td>{{ lot.etat}}</td>
            <td>{{ lot.closedAt | date:"dd-MM-yy à HH:mm" }}</td>
            <td><a routerLink="/materiels/{{ lot.id}}" class="btn btn-success">Voir</a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
